.my_items {
    display: grid;
    justify-content: center;
}
.todo-row {
    width: 550px;
    color: white;
    background-color: #4b59f7;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 18px;
    padding-bottom: 8px;
}
.todo-row > div {
    word-wrap: break-word;
}
.icons {
    display: flex;
    justify-content: right;
    height: 25px;
}
.icons > svg {
    cursor: pointer;
    height: 25px;
    width: 25px;
    padding-left: 2.5px;
    padding-right: 2.5px;
}

@media (max-width:580px) {
    .todo-row {
        width: 384px;
    }
}
@media (min-width :360px) and (max-width:579px) {
    .todo-row {
        width: 313px;
    }
}